*.bkp
*.blg
*.egg-info
*~
.DS_Store
.coverage
.jekyll-cache
.metaflow
.pytest_cache
__pycache__
docs/*.aux
docs/*.bbl
docs/*.bcf
docs/*.bib
docs/*.blg
docs/*.cls
docs/*.idx
docs/*.ilg
docs/*.ind
docs/*.log
docs/*.out
docs/*.pdf
docs/*.run.xml
docs/*.tex
docs/*.toc
docs/*/*.pdf
src/*/*.pdf
