<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Snailz{% endblock %}</title>
    <link rel="stylesheet" href="/static/snailz.css">
  </head>
  <body>
    <h1>{% block heading %}Snailz{% endblock %}</h1>

    {% block content %}
    {% if rows %}
    <table>
      <thead>
	<tr>
          {% for column in columns %}
          <th>{{ column }}</th>
          {% endfor %}
	</tr>
      </thead>
      <tbody>
	{% for row in rows %}
	<tr>
          {% for column in columns %}
          <td>{{ row[column] }}</td>
          {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No data available in the specimens table.</p>
    {% endif %}
    {% endblock %}

    <div class="footer">
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>
