<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/x-icon" href="@root/static/favicon.ico">
    <link rel="stylesheet" href="@root/static/mccole.css" type="text/css">
  </head>
  <body>
    <nav>
      <a href="@root/">Home</a>
      &middot;
      <span class="dropdown">
	<a href="#">Lessons</a>
	<span class="dropdown-content">
          <a href="@root/01_intro/">Introduction</a>
          <a href="@root/02_grid/">Making Grids</a>
          <a href="@root/03_test/">Testing</a>
          <a href="@root/04_parse/">Parsing Messy Data</a>
          <a href="@root/05_synth/">Synthesizing Data</a>
          <a href="@root/06_scenario/">A Complete Scenario</a>
          <a href="@root/99_finale/">Conclusion</a>
	</span>
      </span>
      &middot;
      <span class="dropdown">
        <a href="#">Extras</a>
        <span class="dropdown-content">
	  <a href="@root/license/">License</a>
	  <a href="@root/conduct/">Code of Conduct</a>
	  <a href="@root/bibliography/">Bibliography</a>
	  <a href="@root/glossary/">Glossary</a>
        </span>
      </span>
    </nav>
    <main>
{{content}}
    </main>
    <footer>
      <a href="@root/">Research Software Design by Example</a>
      copyright &copy; 2025
      <a href="@root/01_intro/#acknowledgments">the authors</a>
    </footer>
  </body>
</html>
